.list-item {
    display: flex;
    background-color: #fff;
    padding: 12px;
    border: 1px solid rgba(18,52,102,0.15);
    box-shadow: 0 1px 4px rgba(18,52,102,0.15);
    margin: 8px;
}

.list-item img{
    width: 150px;
    height: 150px;
}

.cart-info {
    width: 200px;
}

h5 {
    margin: 0px;
    font-size: 19px;
    line-height: 1.26;
    font-weight: 700;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



input[type="number"] {
    max-width:50px;
    color: #555;
    margin-left:4px;
    outline: none;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

input[type="number"]:focus {
    border: 1px solid #57BC90;
}

label {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    color: #555;
}