.tile {
    background-color: #fff;
    padding: 12px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(18,52,102,0.15);
    box-shadow: 0 1px 4px rgba(18,52,102,0.15);
    margin: 8px;
    width: 150px;
}

.tile img {
    width: 100px;
    height: 100px;
}

.tile h4 {
    margin: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile p {
    margin-bottom: 4px;
}


